
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.page {
  width: 1000px;
  border: 1px solid red;
  margin: 65px auto;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 55px;
}

ul {
  font-family: 'Mulish', sans-serif;
  list-style: none;
  display: flex;
  gap: 48px;
}

ul li a {
  color: #1F1534;
  text-decoration: none;
}

ul li a:hover{
  font-weight: bold;
}

h1 {
  font-family: 'Mulish', sans-serif;
}